<div id = "default_exam_layout">
    <div  class = "row border border-1 rounded-pill">
        <div id = "question" class = "col">Question
            kaldksakdsa;d;lsa;ld
        </div>
    </div>
    <div class = "answer row">
        <div class = "col border border-1 rounded-3">
            <div class = "a text-start">A</div>
            <div class = "answer_content">jdksajksajkdjsadlk</div>
        </div>
    
        <div class = "col-2"></div>
    
        <div class = "col border border-1 rounded-3">
            <div class = "a text-start">B</div>
            <div class = "answer_content">jdksajksajkdjsadlk</div>
        </div>
    </div>
    
    <div class = "answer row">
        <div class = "col border border-1 rounded-3">
            <div class = "a text-start">C</div>
            <div class = "answer_content">jdksajksajkdjsadlk</div>
        </div>
    
        <div class = "col-2"></div>
    
        <div class = "col border border-1 rounded-3">
            <div class = "a text-start">D</div>
            <div class = "answer_content">jdksajksajkdjsadlk</div>
        </div>
    </div>
</div>
