<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RESET PASS</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<h1 th:replace="admin/home.html :: logo"></h1>
<div class="wrapper">
    <div class="sidebar" th:replace="admin/home.html :: sidebar"></div>
    DANH SACH YEU CAU KHOI PHUC MAT KHAU O DAY
</div>
</body>
</html>
