<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">
<head>
    <title>USER MANAGEMENT</title>
    <th:block id="home-static-resources">
        <script type="text/javascript" th:src="@{/javascript/home.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
    </th:block>
</head>
<body>
<div id="home-header" th:replace="~{/fragments/app-fragments :: header}"></div>
<div id="home-nav" th:replace="~{/fragments/navbar :: nav-admin}"></div>
<div id="home-main-content">
    <h2>Update User Account</h2>
    <form th:action="@{/admin/update-user-status/} + ${account.id}" method="post" enctype="multipart/form-data" th:object="${account}">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" th:value="${account.email}" readonly />
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${account.name}" readonly />
        </div>
        <div class="form-group">
            <label for="active">Status:</label>
            <select class="form-control" id="active" name="active" required>
                <span th:if="${account.isActive} == false">
                  <option  value="true">Active</option>
                  <option value="false" selected>Inactive</option>
                </span>
                <span th:if="${account.isActive} == true">
                  <option  value="true" selected>Active</option>
                  <option value="false">Inactive</option>
                </span>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    </div>
</div>
<div id="home-footer" th:replace="~{/fragments/app-fragments :: footer}">
    Footer
</div>
</body>
</html>
