<!DOCTYPE html>
<!--  main-layout includes title, otherStaticResources, header, nav, mainContent, footer  -->
<!-- login layout includes title, otherStaticResource, mainContent -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">

<head>
    <title>Login</title>
    <th:block id="home-static-resources">
        <link th:href="@{/css/login.css}" rel="stylesheet">
    </th:block>
</head>
<body>

    <!--Header-->
    <div id="home-header">
    <!--Login page with empty header-->
    </div>

    <div id="home-nav" th:replace="~{/fragments/app-fragments :: none}">
    </div>

    <div id="home-main-content">
        <div layout:fragment="content" id="login-page">
            <div class="main-content w-100 m-0">
                <div class="login-container">
                    <div class="wrap-login d-flex flex-wrap justify-content-between">
                        <div class="col-sm-6 col-lg-5 wrap-login__img-container">
                            <img class="wrap-login__img" src="/images/login.webp" alt="Login image">
                        </div>
                        <div class="col-sm-6 col-lg-7 wrap-login__main">
                            <form id="login" action="/login" method="post" class="wrap-login__form pr-2">
                                <div class="wrap-login__form-header sfont">
                                    <h2 style="text-align: center; width: 100%; color: var(--main-bg-color)">
                                        <b>Welcome back!</b>
                                    </h2>
                                </div>
                                <div class="col-md-12 py-2">
                                    <label for="inputEmailSignIn" class="form-label sign-form-label">Email</label>
                                    <input required type="email" name="email" class="form-control" id="inputEmailSignIn" autofocus>
                                </div>
                                <div class="col-md-12 py-2">
                                    <label for="inputPasswordSignIn" class="form-label sign-form-label">
                                    <span class="row d-flex align-items-center">
                                        <span class="col-12">Password</span>
                                    </span>
                                    </label>
                                    <input required type="password" name="password" class="form-control demo-show-password" id="inputPasswordSignIn" style="background-image: url('/images/hide-password.webp');">
                                </div>
                                <p th:if="${failedMessage}" class="error" th:text="${failedMessage}"></p>
                                <div class="w100 d-flex flex-wrap justify-content-center pt-2">
                                    <button type="submit" name="login" class="wrap-login__form-btn d-flex justify-content-center align-items-center" id="btnLogin"> <b>Log in</b> </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="home-footer" th:replace="~{fragments/app-fragments :: none}">
    </div>
</body>
</html>